API_ID=28386628 # get this value from my.telegram.org
API_HASH=32a678ce66443764aab2ad5cb2f5da74 # get this value from my.telegram.org
BOT_TOKEN=5915163334:AAE6H8oyB_MJ_Uzr4kn3sfyfOPUuteb36ug # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://belamriiyad7:iyad2009@cluster0.gitwp4w.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001884920954 # get this value from in your log group 
MUSIC_BOT_NAME=Steve # your music bot name 
STRING_SESSION=BAGxJUQAG7wEBXgrhtD7cQOSQZJbIauj7zFy1c8f1l19kIt-sPqI54kOxHEeHAY2hDrIIFyY9DEeS-z9R__mBeBWguw8KG8O8gi-AYbZNt0s4to3cxsV65nPycYtw6VwZ0QnQROUSpZX0oIqJL20-nf9f1sSWuoTbUD5J_7BGIJyo4eS-tT-mQu6Uh_QpnRHCDu7CGJWUExMGu4eNZYMvWScBXwa9NqGrZgokIblUXRb762r4ivmdys-WWrAtW3Zfzh3jOGmcsrOVEjQtoJcn9V6XTdcdyY9Ag2V-8CO3iKExh4CXnAskehwWs1s_pnX1iBv_uCL6oE-98CAsjUNogUxHU81oAAAAAFfrDIBAA # get this value from @yukkistringbot